        body{
            font-family: "manrope";
            margin: 20px;
            background-image: url(..);
        }
        .logo{
            font-size: 70px;
            border: none;
            padding: 30px;
        }
        h1{
            border-style: solid;
            text-align: center;
            padding: 50px;
            margin: 50px;
            font-family: "pacifico";
            font-size: 50px;
        }
        h2,h3{
          padding: 10px;
          font-family: "pacifico";
          text-align: center;
        }
        h4{
            text-align: center;
            padding: 30px;
            font-family: "pacifico" ;
        }
        img{
            width: 500px;
        }
        .about-us{
            text-align: center;
            margin: 0px 100px 0 100px;
            padding: 50px;
            font-size: large;
        }
        .project{
            width: 800px;
            margin: 0 auto;
            padding: 50px;
        }
        a{
            color: black;
            padding: 20px;
        }
        nav{
            background-color: black;
            font-family: "pacifico";
            font-size: large;
            padding: 5px;
        }
        .nav-link{
            color: violet;
            text-decoration: none;
        }
        .grid-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin: 10px;
        }
        .grid-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
        }
        .grid-item img{
            width: 100%;
            align-self: stretch;
            aspect-ratio: 1;
        }
        .name{
            text-align: center;
        }
        .imgbutton{
            text-align: center;
        }
        button{
            background-color: pink;
            border-color: aqua;
        }
        div{
            text-align: center;
        }
        ul{
            display: inline-block;
            text-align: left;
        }
