
        a{
            text-decoration: none;
            color: violet
        }
        nav{
            background-color: black;
        }
        h1{
            margin: 20px;
            border: solid;
            border-color: teal;
        }
        h1,h4{
            text-align: center;
            padding: 30px;
        }
        .grid-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin: 10px;
        }
        .grid-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
        }
        .grid-item img{
            width: 100%;
            align-self: stretch;
            aspect-ratio: 1;
        }
        .name{
            text-align: center;
        }
        .imgbutton{
            text-align: center;
        }
        button{
            background-color: pink;
            border-color: aqua;
        }
